

// == COLORS ==

$nitro-blue: #5BACC3;
$nitro-pink: #FFF0ED;
$graphite: #393939;
$gray: #909090;
$light-gray: #F7F7F7;
$white: #FFF;


// == FONTS FAMILY ==

$font-family: 'Open Sans';

// == FONT SIZE ==

$font-size-h1-h2: 3.75rem;
$font-size-h3-nav-footer : 2.0625rem;
$font-size-nav-link-button: 1.3125rem;
$font-size-paragraph: 1.125rem;
$font-size-discount: 2.8125rem;

// == FONT WEIGHT ==

$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-bold: 700;


